/* App.css */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; 
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.5rem; 
  font-weight: bold;
  color: #333; 
  display: flex;
  align-items: center;
}

.logo-open {
  color: #171D29; 
}

.logo-stays {
  color: #67D3DF; 
}

.header-right {
  display: flex;
  align-items: center;
  position: relative;
}

.menu-button {
  width: 2rem;
  height: 2rem;
  background-color: #171D29;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: none; 
}

.menu-button:focus {
  outline: none;
}

.navbar {
  position: absolute;
  top: 60px; 
  right: 0;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none; 
}

.navbar.show {
  display: block; 
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  margin-bottom: 1rem; 
}

.navbar a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  gap: 0.5rem; 
}

.navbar svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* Footer Styles */
footer {
  background-color: #fff;
  text-align: center;
  padding: 5px 0;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  margin-top: 2rem;
}

