/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
}

/* Logo Styling */
.logo {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #333; /* Default text color */
}

.logo-open {
  color: #171D29; /* Light gray for "Open" */
}

.logo-stays {
  color: #67D3DF; /* Navy blue for "stays" */
}

.header-right {
  display: flex;
  align-items: center;
  position: relative;
}

.menu-button {
  width: 2rem; /* Adjust icon size */
  height: 2rem;
  background-color: #171D29; /* Circle color */
  border-radius: 50%; /* Make the icon circular */
  padding: 0px; /* Add padding inside the circle */
  color: white;
  cursor: pointer;
}

.menu-button:focus {
  outline: none;
}

.navbar ul {
  list-style: none;
  display: none;
}

.navbar.show ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  position: absolute;
  top: 0px;
  right: 0;
  padding: 10px;
  border-radius: 10px;
}

.navbar ul li {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  gap: 15px;
  padding: 5px 0;
}

.navbar ul li a {
  text-decoration: none;
  color: #555;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
  background-color: rgba(23, 29, 41, 0.4); /* 50% transparent */
  justify-content: space-between;
  border-radius: 50px;
  padding: 5px 5px;
  flex-direction: row-reverse;
}

.navbar svg {
  width: 1.5rem; /* Adjust icon size */
  height: 1.5rem;
  background-color: white; /* Circle color */
  border-radius: 50%; /* Make the icon circular */
  padding: 10px; /* Add padding inside the circle */
  color: #171D29;
}

.navbar span {
  font-size: 1rem;
  font-weight: bold;
  color: white;  
}

/* Footer Styles */
footer {
  background-color: white;
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
}
